[submodule "ai-agent-repos/agency-agents"]
	path = ai-agent-repos/agency-agents
	url = https://github.com/msitarzewski/agency-agents.git
[submodule "ai-agent-repos/Agent-Reach"]
	path = ai-agent-repos/Agent-Reach
	url = https://github.com/Panniantong/Agent-Reach.git
[submodule "ai-agent-repos/orca"]
	path = ai-agent-repos/orca
	url = https://github.com/stablyai/orca.git
[submodule "ai-agent-repos/OpenMontage"]
	path = ai-agent-repos/OpenMontage
	url = https://github.com/calesthio/OpenMontage.git
[submodule "ai-agent-repos/codebase-memory-mcp"]
	path = ai-agent-repos/codebase-memory-mcp
	url = https://github.com/DeusData/codebase-memory-mcp.git
